# Ignore all cache folders
cache/
**/cache/

# Ignore all __pycache__ folders
__pycache__/
**/__pycache__/

# Ignore everything in the datasets folder
data/datasets/*

# Ignore everything in the datasets folder
# models/trained_models/*
models/trained_models/old/*
models/trained_models/extra/*

