# Ignore all cache folders
cache/
**/cache/

# Ignore all __pycache__ folders
__pycache__/
**/__pycache__/

# Ignore all .vscode folders
.vscode/
**/.vscode/

# Ignore everything in the datasets folder
data/images/*
data/*






